@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Pavanam';
    src: url('../fonts/pavanam-regular-webfont.woff2') format('woff2'),
         url('../fonts/pavanam-regular-webfont.woff') format('woff');
	font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alef';
    src: url('../fonts/Alef-regular.eot');
    src: url('../fonts/Alef-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Alef-regular.woff') format('woff'),
         url('../fonts/Alef-regular.ttf') format('truetype'),
         url('../fonts/Alef-regular.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	width:100%;
	margin:0px;
	padding:0px;
}

h1, h2, h3, h4, h5, h6 {
	background-color:#222222;
}
h2 {
	color:red;
}

div p {
	border: 1px solid #000;
}

section article {
	background-color: green;
	border:3px dashed red;
}

aside article {
	background-color:yellow;
	border: 3px dotted red;
}

aside {
	background-color: rgb(123,0,30);
	opacity:0.5;
}

article span {
	font-weight: bold;	
}
article p span {
	font-weight: normal;	
}

aside article:last-child {
	font-family: 'Pavanam';
}

body>p:nth-last-child(n) {
	font-family: 'Alef';
}